<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>user_model1</display-name>
	<!-- <error-page> <error-code>404</error-code> <location>/user_error.jsp</location> 
		</error-page> <error-page> <exception-type>java.lang.NullPointerException</exception-type> 
		<location>/user_error.jsp</location> </error-page> -->
		
	<!-- 
	<filter>
	    <filter-name>Encoding Filter</filter-name>
		<filter-class>com.itwill.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Encoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
-->
<!--  
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>com.itwill.filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/user_list.jsp</url-pattern>
		<url-pattern>/user_view.jsp</url-pattern>
		<url-pattern>/user_modify_form.jsp</url-pattern>
		<url-pattern>/user_modify_action.jsp</url-pattern>
		<url-pattern>/user_remove_action.jsp</url-pattern>
		<url-pattern>/user_logout_action.jsp</url-pattern>
		
		<url-pattern>/user_view_myinfo.jsp</url-pattern>
		<url-pattern>/user_modify_form_myinfo.jsp</url-pattern>
		<url-pattern>/user_modify_action_myinfo.jsp</url-pattern>
	</filter-mapping>
-->
	
	
	<welcome-file-list>
		<welcome-file>user_main.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>